.App {
  text-align: center;
}

.App{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  border-color: #f6f6f6;
  color: #181818;

}